.container {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	padding-top: 50px;
}

h1 {
	font-size: 2.5rem;
}

p {
	font-size: 1.25rem;
	margin-bottom: 20px;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 1.25rem;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 1.25rem;
}

button:hover {
	opacity: 0.8;
}

#error-message {
	color: red;
	margin-top: 20px;
	font-size: 1.25rem;
}