header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 250px;
    height: 20px;
    border: 2px solid #333;
    padding: 5px;
    font-size: 16px;
}

button {
    height: 35px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0 20px;
    margin-left: 10px;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: black;
}

button:active {
    border-radius: 5px;
}

#result {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

#good-response {
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-weight: 500;
}

#bad-response {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    font-weight: 500;
}

.inserted-domain {
    font-weight: 600;
    text-decoration: underline;
}

/* #bad-response .inserted-domain {
    font-weight: 600;
} */